{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset ("css/style_admin.css")}}">
{% endblock %}
   

{% block header %}

{% if is_granted ("ROLE_ADMIN") %}
    <nav class="bar_nav">
        <a href="{{path ("front")}}"><img src="{{ asset ("img/logoo.png")}}" alt="logo" class="logo"></a>
        <label for="check" class="menu"><i class="fas fa-bars"></i></label>
        <input type="checkbox" id="check">

        <ul class="nav_list">
            <li><a href="{{ path ("front")}}">Acceuil</a></li>
            <li><a href="{{ path ("menu_index")}}">Plats</a></li>
            <li><a href="{{ path ("categorie_index")}}">Categories</a></li>
            <li><a href="{{ path ("user_index")}}">Gérer les utilisateurs</a></li>
            <li><a href="{{path ("reservation_index")}}">Gérer les réservations</a></li>
            <li><a href="{{path ("gallerie_index")}}">Galerie</a></li>
            <li><a href="{{ path ("app_logout")}}">Déconnexion</a></li>
        </ul>
    </nav>
    {% endif %}

{% endblock %}

 

{% block footer %}

    {# <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.950243885576!2d2.3842794156744227!3d48.859159179287666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66df46759709d%3A0xb7a321521b8c125!2s174%20Rue%20de%20la%20Roquette%2C%2075011%20Paris!5e0!3m2!1sfr!2sfr!4v1620938464650!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div> #}
    <footer>
            <div class="icone">
                <p>SUIVEZ NOUS</p>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>

            </div>
            <div class="pied-page">
                <p>Le Café Gaurmand *174 RUE DE LA ROQUETTE 75011 PARIS* </p>
                <p>COPYRIGHT </p>
            </div>
                
    </footer>
 
 
 {% endblock %} 