{% extends "front/layout.html.twig" %}

{% block title %}Commander en ligne{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset ("css/style_front.css")}}">
    
{% endblock %}

{% block body %}
<section class="laCarte">

        <h1>Commander en ligne</h1 >

    </section>

<a href="{{path ("panier_index")}}">Voir votre panier</a> 

<div class="container">
<div class="row">
    {% for menu in menus %}
    <div class="col-6">
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="{{asset ("images/menu/" ~ menu.image )}}" class="w-100 " alt={menu.nom}>
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">{{menu.nom}}</h5>
            <p>{{menu.prix}}</p>
           <a href="{{path ("panier_add", {"id":menu.id})}}"><button class="btn btn-success">Ajouter</button></a>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
