{% extends "front/layout.html.twig" %}

{% block body %}
   <section class="laCarte">

        <h1>La carte</h1 >

    </section>
    <br><br>
    <div class="text">
        <p>Midi et soir, à la carte ou en formule, nous proposons des plats saveureux, des dessert maison et des cafés parfumés <p> <br><br>
        <p>Animé tout au longue de la journée, on s'y retrouve pour dêjeuner ou pour dîner dans la grande salle, ou bien pour siroter un cocktail autour de l'immense bar central en marbre vert. Aux beau jours, on prfite du jardin pour un repas bien délicieux à l'abri de l'agitation de l'avenue</p>
    </div>

{# {{dump()}} #}

<div class="container">
    <div class="row">
        {% for cat in categories %}
        <div class="col-12 col-sm-6 col-lg-4">
            <div>
                <h2>
                    <a href="{{ path ("show_menu", {"id": cat.id } ) }}" >{{cat.nom}}</a>
                </h2>
            </div>
            <div class="image_categorie">
                <a href="{{ path ("show_menu", {"id": cat.id } ) }}" >
                    <img src="{{asset ("images/categorie/" ~ cat.image )}}" alt="{{cat.nom}}" class="img-categorie">
                </a>
            </div> 
        </div>
        {% endfor %}  
    </div>
</div>

{% endblock %}
