{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset ("css/style_front.css")}}">
{% endblock %}

{% block body %}

{{ form_start(form) }}
<div class="form">
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <br>
   <p class="text">Pour revenir à <a href="{{path ("front")}}">Acceuil</a></p>
    <br>

</div>
{{ form_end(form) }} #}
 {% endblock %}
{# {{ form_start(form) }}
<div class="container form">
<div class="row g-3">
    <div class="col-md-6">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
     <div class="col-md-6">
        {{ form_label(form.prenom, 'Prénom') }}
        {{ form_widget(form.prenom) }}
    </div>
    
     <div class="col-md-6">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
     <div class="col-md-6 ">
        {{ form_label(form.telephone, 'Téléphone') }}
        {{ form_widget(form.telephone) }}
    </div>
     <div class="col-md-6">
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
    </div>
    {% if is_granted ('ROLE_ADMIN') %} 
     <div class="col-md-6">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles) }}
    </div>
    {% endif %}
</div> 
    <br>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

</div>
{{ form_end(form) }} #}
